#
# General
numpy
matplotlib
StrEnum

#
# Tests
pytest
cairosvg
Pillow

#
# Hotspots
pandas
scipy

#
# Docking
watchdog
gypsum_dl[mpi]
meeko
    rdkit
    gemmi
    scipy
    tomli
    tqdm
pdb2pqr
    propka

#
# Multi
rcsb-api
